# .github/workflows/cd.yml
name: Python CD

on:
  workflow_run:
    workflows: ["Python CI"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Bump version
        run: |
          python version_bump.py
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add passworder/__init__.py
          git commit -m "Bump patch version [skip ci]" || echo "No changes to commit"
          git pull --rebase
          git push origin main-clean

      - name: Install build tools
        run: python -m pip install --upgrade build twine

      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m build
          python -m twine upload dist/*