# .github/workflows/ci.yml
name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.11]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        shell: bash
        run: |
          python -m venv venv
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            venv\Scripts\pip.exe install --upgrade pip
            venv\Scripts\pip.exe install -r requirements.txt
          else
            ./venv/bin/pip install --upgrade pip
            ./venv/bin/pip install -r requirements.txt
          fi

      - name: Run tests
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            venv\Scripts\python.exe tests\test_core.py
          else
            ./venv/bin/python tests/test_core.py
          fi